/* FONTS */

@font-face {
  font-family: 'Young Serif';
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Outfit;
  src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
}

/* UNIVERSAL */

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f3e5d8;
  font-family: Outfit, sans-serif;
  color: hsl(30, 10%, 34%);
}

#page {
  background-color: white;
  width: 50%;
  padding: 2.5rem;
  margin: 4.5rem auto;
  border-radius: 1rem;
}

h1,
h2 {
  font-family: 'Young Serif', serif;
  font-weight: 400;
}

h1 {
  color: hsl(24, 5%, 18%)
}

h2 {
  font-size: 1.7rem;
  color: hsl(14, 45%, 36%);
  margin-bottom: 1rem;
}

.bold {
  font-weight: bold;
}

.border-bottom {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

@media only screen and (max-width: 375px) and (min-width: 0) {
  #page {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

  header img {
    border-radius: none !important;
  }

  h1 {
    font-size: 2.3rem !important; 
    line-height: 2.2rem;
  }

  p,
  li{
    line-height: 1.5rem;
  }

  header p,
  header h1 {
    padding: 0 2rem;
  }

  main {
    margin: 0 auto;
    padding: 0 2rem;
  }

}

/* HEADER */ 

header img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

header h1 {
  font-size: 2.5rem;
  margin-top: 2rem;
}

header p {
  margin-top: 1.2rem;
}

/* MAIN */

/* SECTION */

section {
  margin-top: 1.8rem;
}

section li {
  margin: 0.7rem 0 0.7rem 1.7rem;
  padding-left: 1rem;
}

#ingredients,
#instructions {
  padding-bottom: 1.3rem;
}

/* PREPARATION*/

#preparation-time {
  background-color: hsl(330, 100%, 98%);
  padding: 1.5rem;
  border-radius: 0.3rem;
}

#preparation-time h3 {
  color: hsl(332, 51%, 32%);
  font-weight: 600;
}

/* INGREDIENTS */

#instructions ol li span,
.normal{
  font-weight: normal;
}
 
/* NUTRITION */

table {
  width: 100%;
  margin: 0.8rem 0 2rem;
}

th{
  text-align: left;
  padding: 0.8rem 0 0.8rem 2rem;
  width: 50%;
}

td {
  text-align: left;
  color: hsl(14, 45%, 36%);
}

/* ATTRIBUTION */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

